
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl


__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
build/
dist/
*.egg-info/

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db


mysql_data/
.env

